<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Relate Media</title>

  <!-- CSS files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="/main.css">

  <!-- FontAwesome 5 -->
  <script defer src="{{ "/js/font-awesome/packs/solid.min.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/js/font-awesome/packs/brands.min.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/js/font-awesome/fontawesome.min.js" | prepend: site.baseurl }}"></script>
</head>
