<header class="header">
  <nav>
    <span class="open-slide">
      <a href="#" onclick="openSideMenu()">
        <span class="fa fa-bars fa-2x"></span>
      </a>
    </span>

    <a href="/" class="header-logo">Relate Media</a>

    <ul class="header-nav">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="side-nav" id="side-menu">
    <a href="#!" class="btn-close" onclick="closeSideMenu()">&times;</a>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#team">Team</a>
    <a href="#">Contact</a>
  </div>
</header>
